.show-less {
	max-height: 80vh;
	overflow: hidden;
	transition-duration: 1s;
}

.show-more {
	max-height: 5000px;
	transition-duration: 1s;
}

.show {    //gallery images filter
	display: block;
	animation: fadeIn 1s;
}

.show-navbar {  // top navbar dropdown
	max-height: 1000px;
	opacity: 1;
}

.disp {
	padding: 15px 40px 0;
	max-height: 55px;
	background-color: $whiteGrey;
	background-color: white;
	box-shadow: 0px 0px 19px #a9aaac43;
	opacity: 0.9;
	transition: 0.5s ease-in-out;
	& i, h3, a {
		color: $darkGrey;
	}
	& .top-navbar__item {
		border-bottom: 0.15rem solid rgba(41, 41, 41, 0);
		transition-duration: .3s;
		&:hover {	
			border-bottom: 0.15rem solid $darkGrey;
		}
	}
	@media only screen and (max-width: 950px) {
		padding: 20px 40px;
		max-height: 600px;
	}
}	

.hide {
	display: none;
}

.overlay-hide {
	height: 100%;
	opacity: 0;
	transition-duration: 1s;
}

.invisible {
	opacity: 1;
	@media only screen and (max-width: 950px) {
		opacity: 0;
		transition: 0.3s ease-in-out;
	}
}

.underline {
	border-bottom: 0.15rem solid $lightGrey;
}

.form-show {
	max-height: 2000px;
}

.rotated {
	transform: rotate(180deg);
	transition: transform 1s;
}

.one_column {
	column-count: 1;
	padding: 0 15%;
	@media only screen and (max-width: 500px) {
		padding: 0 15px;
	}
}

.two_colums {
	column-count: 2;
	@media only screen and (max-width: 500px) {
		column-count: 1;
	}
}

