*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.gm-style-pbc {
  opacity: 0 !important;
}

.top-navbar__burger, .hero__icon i, .load-more i, .form-popup__close i, .form-popup__social-icons i, .footer__social-icons i, .footer__contact-icon i {
  cursor: pointer;
  right: calc(50% - 1.5rem);
  font-size: 3rem;
  color: white;
  opacity: 0.5;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.top-navbar__burger:hover, .hero__icon i:hover, .load-more i:hover, .form-popup__close i:hover, .form-popup__social-icons i:hover, .footer__social-icons i:hover, .footer__contact-icon i:hover {
  opacity: 1;
}

.spots-navbar {
  padding: 30px 0;
}

.spots-navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 80px;
}

.spots-navbar__item {
  cursor: pointer;
  border-bottom: 0.15rem solid white;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.spots-navbar__item:hover {
  border-bottom: 0.15rem solid #393e46;
  text-shadow: 0px 0px 19px #d2d2d2;
}

.heading {
  text-align: center;
}

.heading h3 {
  font-size: 1.5rem;
  text-transform: none;
  margin-bottom: 90px;
}

.section {
  margin-top: 100px;
  padding-top: 100px;
}

h1, h2, h3, h4, .form-popup__send button, ul, li, p, a {
  font-family: 'Poppins';
  color: #222831;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  text-decoration: none;
  list-style: none;
  text-overflow: ellipsis;
}

h1 {
  font-size: 3.25rem;
  font-weight: 600;
  color: white;
}

h2 {
  font-size: 1.1rem;
  font-weight: 300;
  color: white;
}

h3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
}

h4, .form-popup__send button {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #393e46;
}

p {
  color: #393e46;
  font-weight: 300;
}

button {
  border: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.menu-a {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
}

.top-navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 11;
  padding: 40px;
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.top-navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-navbar__item {
  margin-right: 60px;
  cursor: pointer;
  border-bottom: 0.15rem solid rgba(255, 255, 255, 0);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.top-navbar__item:hover {
  border-bottom: 0.15rem solid white;
  text-shadow: 0px 0px 19px #d2d2d2;
}

.top-navbar__logo {
  position: relative;
  bottom: 10px;
}

.top-navbar__logo h3 {
  text-transform: capitalize;
  font-size: 2rem;
  color: white;
}

.top-navbar__burger {
  text-align: right;
  display: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

.hero__image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: 85%;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  opacity: 1;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.hero h2 {
  text-align: right;
  margin-right: 5rem;
}

.hero h1 {
  text-align: center;
}

.hero__icon {
  position: absolute;
  bottom: 20%;
}

.hero__header-angle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 100vh;
  width: 100%;
}

.hero__header-angle svg {
  width: 100%;
}

.cities__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 50px;
}

.cities__city {
  text-align: center;
}

.cities__img {
  position: relative;
  overflow: hidden;
  width: 260px;
  height: 260px;
  margin-bottom: 50px;
  border-radius: 50%;
  z-index: 10;
}

.cities__img img {
  z-index: -10;
  width: auto;
  height: 100%;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  opacity: 0.9;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.cities__img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  opacity: .7;
}

.about {
  padding: 0 150px;
}

.spots-navbar {
  padding: 0 0 30px;
}

.spots-navbar h3 {
  font-size: 0.875rem;
}

.gallery {
  position: relative;
}

.spots-gallery {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding: 0 15px;
}

.spots-gallery__image {
  display: none;
  margin: 0 0 15px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.spots-gallery__image img {
  display: block;
  width: 100%;
  cursor: pointer;
  opacity: 0.9;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.spots-gallery__image:hover .spots-gallery__text {
  opacity: 1;
}

.spots-gallery__image:hover img {
  opacity: .5;
  -webkit-filter: grayscale(50%) blur(2px);
          filter: grayscale(50%) blur(2px);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.spots-gallery__text {
  position: absolute;
  text-align: center;
  padding: 0 10%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.7);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  cursor: pointer;
}

.spots-gallery__text h3 {
  text-transform: initial;
  color: white;
  font-size: 2rem;
}

.gallery__overlay {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(41%, rgba(255, 255, 255, 0)), color-stop(42%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 41%, rgba(255, 255, 255, 0) 42%);
  z-index: 2;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.load-more {
  margin: 50px auto;
  text-align: center;
}

.load-more i {
  color: #222831;
}

.load-more p {
  margin-top: 5px;
}

.load-more button {
  background-color: white;
}

#map {
  min-height: calc(100vh - 55px);
  -webkit-box-shadow: 0px 0px 19px #a9aaac;
          box-shadow: 0px 0px 19px #a9aaac;
}

.map-box {
  padding-top: 55px;
  position: relative;
}

.mapLegend {
  position: absolute;
  right: 100px;
  top: 65px;
  z-index: 2;
}

.mapLegend__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mapLegend__button {
  padding: 0;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mapLegend__button:focus {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background-color: #393e46;
}

.mapLegend__button:focus h3 {
  color: white;
}

.mapLegend h3 {
  margin: 15px;
}

.mapLegend i {
  font-size: 2rem;
  margin: 0 10px;
}

.mapLegend .red {
  color: #C46A6A;
}

.mapLegend .blue {
  color: #6B7EC1;
}

.mapLegend .green {
  color: #8DD38D;
}

.form-popup {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.form-popup__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 10%;
  border-radius: 15px;
  background-color: #a9aaac;
  -webkit-box-shadow: 0px 0px 19px #a9aaac;
          box-shadow: 0px 0px 19px #a9aaac;
}

.form-popup__info {
  background-color: #393e46;
  border-radius: 15px;
  width: 40%;
  padding: 2em;
}

.form-popup__info h4, .form-popup__info .form-popup__send button, .form-popup__send .form-popup__info button {
  color: #a9aaac;
}

.form-popup__info p {
  color: #a9aaac;
  margin: 15px;
}

.form-popup__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  padding: 30px;
}

.form-popup__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
}

.form-popup__input input, .form-popup__input textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
}

.form-popup__input p {
  width: 100%;
}

.form-popup__input-field {
  width: 100%;
}

.form-popup__label {
  width: 75px;
  margin-right: 15px;
}

.form-popup__close {
  text-align: right;
  position: absolute;
  right: 0;
}

.form-popup__close i {
  font-size: 2rem;
  color: #222831;
}

.form-popup__send {
  text-align: right;
}

.form-popup__send button {
  cursor: pointer;
  background-color: #222831;
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  color: #a9aaac;
}

.form-popup__send button:hover {
  opacity: 1;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.form-popup__send button br {
  display: none;
}

.form-popup__social-icons {
  text-align: center;
}

.form-popup__social-icons i {
  color: #a9aaac;
}

.footer {
  background-color: #ededed;
  -webkit-box-shadow: 0px 0px 19px #a9aaac;
          box-shadow: 0px 0px 19px #a9aaac;
}

.footer__content {
  max-width: 1280px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__row p {
  opacity: 0.4;
}

.footer__column {
  padding: 40px 50px 80px;
  width: 33.333%;
}

.footer h3, .footer p {
  color: #393e46;
  margin-bottom: 15px;
  text-transform: none;
}

.footer a {
  font-weight: 400;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__social-icons {
  margin-top: 40px;
}

.footer__social-icons a:hover {
  text-decoration: none;
}

.footer__social-icons i {
  font-size: 4rem;
  color: #222831;
  margin-right: 15px;
}

.footer__contact-icon {
  margin-top: 10px;
}

.footer__contact-icon i {
  font-size: 2rem;
  color: #222831;
}

.footer__copyright {
  text-align: center;
  padding-bottom: 10px;
}

.footer__copyright p {
  margin-bottom: 0;
}
@media only screen and (max-width: 950px) {
  .top-navbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 40px 20px;
  }
  .top-navbar__list {
    max-height: 1px;
    display: block;
    overflow: hidden;
    text-align: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    opacity: 0;
  }
  .top-navbar__item {
    margin-right: 0;
    margin-top: 35px;
  }
  .top-navbar__burger {
    display: block;
    max-height: 15px;
    overflow: hidden;
  }
  .top-navbar__logo {
    display: none;
  }
  .top-navbar__menu {
    width: 100%;
  }
  .menu-a {
    font-size: 1.8rem;
  }
  .hero h1 {
    font-size: 2.3rem;
    margin: 0 30px;
  }
  .hero h2 {
    margin-right: 0rem;
    text-align: center;
  }
  .cities__row {
    margin: 0 auto;
  }
  .cities__city {
    width: 100%;
    margin-bottom: 80px;
  }
  .cities__img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .about {
    padding: 5% 50px;
  }
  .spots-gallery {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .spots-gallery__text h3 {
    font-size: 1.8rem;
  }
  .mapLegend {
    left: 0;
    width: 100%;
    top: 110px;
  }
  .mapLegend h3 {
    font-size: 0.9rem;
    margin: 15px;
  }
  .mapLegend i {
    font-size: 1.4rem;
  }
  .form-popup__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-popup__info {
    width: 100%;
    text-align: center;
  }
  .form-popup__inputs {
    width: 100%;
  }
  .form-popup__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-popup__close i {
    color: #a9aaac;
  }
  .footer__column {
    width: 50%;
    text-align: center;
    padding: 20px 20px 60px;
  }
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero h2 {
    font-size: 1rem;
    margin-right: 0rem;
  }
  .spots-navbar__list {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .spots-navbar__list h3 {
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
  }
  .spots-gallery {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .mapLegend h3 {
    font-size: 0.6rem;
  }
  .mapLegend i {
    font-size: 1.3rem;
  }
  .form-popup__block {
    margin: 5%;
  }
  .footer__column {
    width: 100%;
  }
  .menu-a {
    font-size: 1.5rem;
  }
}

.show-less {
  max-height: 80vh;
  overflow: hidden;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.show-more {
  max-height: 5000px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.show {
  display: block;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.show-navbar {
  max-height: 1000px;
  opacity: 1;
}

.disp {
  padding: 15px 40px 0;
  max-height: 55px;
  background-color: #ededed;
  background-color: white;
  -webkit-box-shadow: 0px 0px 19px #a9aaac43;
          box-shadow: 0px 0px 19px #a9aaac43;
  opacity: 0.9;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.disp i, .disp h3, .disp a {
  color: #222831;
}

.disp .top-navbar__item {
  border-bottom: 0.15rem solid rgba(41, 41, 41, 0);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.disp .top-navbar__item:hover {
  border-bottom: 0.15rem solid #222831;
}

@media only screen and (max-width: 950px) {
  .disp {
    padding: 20px 40px;
    max-height: 600px;
  }
}

.hide {
  display: none;
}

.overlay-hide {
  height: 100%;
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.invisible {
  opacity: 1;
}

@media only screen and (max-width: 950px) {
  .invisible {
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}

.underline {
  border-bottom: 0.15rem solid #393e46;
}

.form-show {
  max-height: 2000px;
}

.rotated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.one_column {
  -webkit-column-count: 1;
          column-count: 1;
  padding: 0 15%;
}

@media only screen and (max-width: 500px) {
  .one_column {
    padding: 0 15px;
  }
}

.two_colums {
  -webkit-column-count: 2;
          column-count: 2;
}

@media only screen and (max-width: 500px) {
  .two_colums {
    -webkit-column-count: 1;
            column-count: 1;
  }
}
/*# sourceMappingURL=style.css.map */